@media only screen and (min-width:768px)
{
    .navbar
    {
        position: fixed;
        width: 100%;
        background-color: transparent;
    }

    .active{background-color: rgba(71, 174, 243, 0.527);}

    .navbar h2
    {
        text-decoration: none;
        color: rgba(204, 1, 255, 0.884);
        font-size: 25px;
        font-family: 'Roboto',sans-serif;
    }

    .navbar-collapse
    {
        justify-content: center;
        align-items: center;
    }

    .navbar button 
    {
        background-color: deeppink;
    }
}